html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 132px;
    background: #333;
    font-family: 'Roboto', sans-serif;
}

body > .container {
    padding: 90px 15px 32px;
}

h1, h2, h3, h4, h5, p, th, td {
    color: #fff;
}

.background-white {
    background: white;
    min-height: calc(100vh - 132px);
}

.background-white h1,
.background-white h2,
.background-white h3,
.background-white h4,
.background-white h5,
.background-white p,
.background-white th,
.background-white td {
    color: black;
}

.navbar {
    min-height: 50px;
    margin-bottom: 0;
    border: 1px solid transparent;
    box-shadow: 0 5px 5px 0 #666666;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 0;
    font-size: 18px;
    line-height: 20px;
}

.navbar-brand, .navbar-nav > li > a {
    text-shadow: none;
}

.video-container {
    position: relative;
}

video {
    height: auto;
    vertical-align: middle;
    width: 100%;
}

.overlay-desc {
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2.title {
    color: #fff;
    font-size: 50px;
    text-align: center;
    border: solid #fff 2px;
    padding: 15px;
    border-radius: 5px;
}

@media screen and (max-width: 776px) {
    h1.title {
        font-size: 21px;
        text-align: center;
        border: solid #fff 2px;
        padding: 15px;
        border-radius: 5px;
    }
}

span.icon img {
    width: 6em;
    padding: 1em;
    border-radius: 100%;
    border: 2px solid #0288D1;
}

h1.title {
    font-size: 50px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
}

h1 {
    color: #fff;
    text-align: center;
}

.profilePic {
    background-position: center;
    width: 100%;
    height: 250px;
    background-size: cover;
    margin-bottom: 30px;
    margin-top: 30px;
    border: solid #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    background-repeat: no-repeat;
}

.img-responsive {
    width: 100%;
}

img.banner {
    margin-top: 50px;
}

.price {
    font-size: 30px;
    color: #fff;
    margin: 10px 0px;
    font-weight: 400;
}

.services img.icon {
    width: 50px;
    margin: 0 auto;
}

.dark-primary-color {
    background: #0288D1;
}

.default-primary-color {
    background: #03A9F4;
}

.light-primary-color {
    background: #B3E5FC;
}

.text-primary-color {
    color: #FFFFFF;
}

.accent-color {
    background: #536DFE;
}

.primary-text-color {
    color: #212121;
}

.secondary-text-color {
    color: #757575;
}

.divider-color {
    border-color: #BDBDBD;
}

/* Footer CSS */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 132px;
    display: block;
    background: #fff;
    color: #121212;
    /*min-height: 10em;*/
}

footer ul {
    padding: 0;
}

@media screen and (min-width: 992px) {
    footer > .container > .row {
        margin-top: 20px;
    }
}

@media screen and (min-width: 1200px) {
    footer > .container > .row {
        margin-top: 40px;
    }
}

/* End Footer */

ul.stuff {
    min-height: 10em;
}

.mobile, .desktop {
    position: relative;
    top: 50px;
    /*border-bottom: solid 1px #ffffff;*/
}

.mobile {
    display: none;
    background: url(/assets/poster.png) !important;
    background-size: cover !important;
}

@media screen and (max-width: 776px) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }
}

footer ul li {
    list-style: none;
    color: #121212;
    margin: 8px 0;
}

/* Blog Pages */

.blogBtn {
    width: 128px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0 20px;
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 0;
    transition-property: background-color, color;
    transition-duration: 0.3s;
    color: black;
    background-color: white;
}

.blogBtn:hover {
    transition-property: background-color, color;
    transition-duration: 0.3s;
    background-color: #283A4E;
    color: white;
}

/* Top Jumbotron */

.page-title-container {
    background-image: url("/img/services.jpg");
    background-size: cover;
}

@media screen and (min-width: 768px) {
    .page-title-container {
        min-height: 40em;
    }
}

.page-title-container .jumbotron {
    margin-top: 5em;
    background-color: rgba(0, 0, 0, .0);
    color: #fff;
}

.page-desc-row {
    padding: 15px;
}

.page-desc-row > div {
    padding: 8px;
    border: 1px solid #fff;
}

.page-desc-row > div > h1 {
    text-align: center;

}

.page-desc-row > div > p {
    text-align: center;
    font-size: 2.0em;
    font-weight: lighter;
    margin-top: .5em;
}

@media screen and (max-width: 767px) {
    .page-desc-row > div > h1 {
        font-size: 30px;

    }

    .page-desc-row > div > p {
        font-size: 22px;
    }
}