body {
    background: #333;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, p {
    color: #fff;
}

.navbar {
    min-height: 50px;
    margin-bottom: 0;
    border: 1px solid transparent;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 0;
    font-size: 18px;
    line-height: 20px;
}

.navbar-brand, .navbar-nav > li > a {
    text-shadow: none;
}

.video-container {
    position: relative;
}

video {
    height: auto;
    vertical-align: middle;
    width: 100%;
}

.overlay-desc {
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2.title {
    color: #fff;
    font-size: 50px;
    text-align: center;
    border: solid #fff 2px;
    padding: 15px;
    border-radius: 5px;
}

@media screen and (max-width: 776px) {
    h1.title {
        font-size: 21px;
        text-align: center;
        border: solid #fff 2px;
        padding: 15px;
        border-radius: 5px;
    }
}

.feature-center p, ul {
    color: #fff;
    font-size: 14px;
}

.feature-center:hover > span.icon img {
    border: 2px solid white;
}

span.icon img {
    width: 6em;
    padding: 1em;
    border-radius: 100%;
    border: 2px solid #0288D1;
}

.feature-center h3 {
    text-transform: uppercase;
    font-size: 18px;
    color: #efefef;
}

.feature-center p, .feature-center h3 {
    margin-bottom: 30px;
}

.feature-center:hover, .feature-center:hover > span.icon {
    box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.6);
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
}

.feature-center:hover > span.icon {
    box-shadow: 0 2px 40px 0 rgba(127, 127, 127, 0.6);
}

.feature-center {
    text-align: center;
    margin-top: 100px;
    background: #0288D1;
    padding: 15px;
    border-radius: 15px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    will-change: transform;
}

.feature-center .icon {
    width: 50px;
    height: 50px;
    background: #efefef;
    display: table;
    text-align: center;
    margin: -40px auto 0px auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

h1.title {
    font-size: 30px;
    text-align: center;
    border: solid #fff 2px;
    padding: 15px;
    border-radius: 5px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
}

h1 {
    color: #fff;
    text-align: center;
}

.feature-center:hover {
    box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.6);
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
}

.feature-center .icon i {
    display: table-cell;
    vertical-align: middle;
    /* height: 90px; */
    font-size: 20px;
    /* line-height: 40px; */
    color: #F85A16;
}

.profilePic {
    background-position: center;
    width: 100%;
    height: 250px;
    background-size: cover;
    margin-bottom: 30px;
    margin-top: 30px;
    border: solid #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    background-repeat: no-repeat;
}

.img-responsive {
    width: 100%;
}

img.banner {
    margin-top: 50px;
}

.price {
    font-size: 30px;
    color: #fff;
    margin: 10px 0px;
    font-weight: 400;
}

.services img.icon {
    width: 50px;
    margin: 0 auto;
}

.dark-primary-color {
    background: #0288D1;
}

.default-primary-color {
    background: #03A9F4;
}

.light-primary-color {
    background: #B3E5FC;
}

.text-primary-color {
    color: #FFFFFF;
}

.accent-color {
    background: #536DFE;
}

.primary-text-color {
    color: #212121;
}

.secondary-text-color {
    color: #757575;
}

.divider-color {
    border-color: #BDBDBD;
}

/* Footer CSS */

footer {
    display: block;
    background: #fff;
    margin-top: 30px;
    color: #121212;
    /*min-height: 10em;*/
}

footer p {
    color: #121212;
}

div.fpCard {
    min-height: 38em;
    /*border: 1px solid red;*/
}

ul.stuff {
    min-height: 10em;
}

.feature-center ul {
    min-height: 10em;
}


.mobile, .desktop {
    position: relative;
    top: 50px;
    /*border-bottom: solid 1px #ffffff;*/
}

.mobile {
    display: none;
}

@media screen and (max-width: 776px) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }
}


/* Services Page Css */
.card .card-title {
    font-size: 1.25em;
}

.card .card-subtitle {
    font-size: 1.25em;
}

.card-m {
    min-height: 17em;
    max-height: 17em;
    padding: 4px;
}

.card-content {
    padding: .5em;
}

.card-m .card-content {
    max-height: 15em;
    height: 100%;
}

.card .card-header {
    text-align: center;
}

.card .card-header img {
    display: inline-block;
    text-align: center;
    max-height: 80px;
}

.image-wrapper {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    display: inline-block;
    min-width: 0;
    padding: 1em;
    margin: .25em;
    background: #fff;
}

.card .card-header strong {
    text-transform: uppercase;
    display: block;
    border-bottom: 2px solid #BDBDBD;
}


.card-content .card-modal p {
    display: none;
}

.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-footer {
    text-align: center;
}